@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "kanit", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: #0A1220;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0A1220;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #004d7c;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #002c47;
  }

.end-hero{
    background-image: url('../waves.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.end-hero .ehcontainer{
    padding: 25vh 0px;
    /* background-image: url('../4dots.svg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px 400px; */
}
.social-links i{
    margin: 10px;
}
.skill-no{
    color: white;
    background: rgb(255, 191, 0);
    border-radius: 10%;
    padding: 10px 20PX;
    font-size: 50px;
    text-align: center;
}
.skill-head{
    text-transform: uppercase;
}
.client{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}
.client-card{
    width: 300px;
    text-align: center;
    background:#1b2133;
    margin: 10px;
    border-radius: 20px;
}
.client-card img{
    height: 300px;
}
.client-card h6{
    margin: 20px;
}
#services{
    font-size: 20px;
    text-align: center;
}
.service{
    background: #1b2133;
    padding: 20px;
    border-radius: 20px;
}
.apps-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.apps-container div{
    padding: 20px;
    margin: 10px;
}
.apps-container img{
    height: 100px;
}
.hero-btn{
    color: white;
    font-size: 25px;
    border: 2px solid white;
    padding: 10px 40px;
    transition: 0.3s;
}
.hero-btn:hover{
    background: white;
    color: black;
}